/*---------------
  FONTS
---------------*/

 
/*---------------
  COLORS
---------------*/
$black: #000000;
$white: #FFFFFF; 
$greyF: #F6F6F6;
$greyD: #DDDDDD;
$greyC: #CCCCCC;
$grey7: #747676;
$grey8: #888888;
$greyD8: #D8DADA;

/*---------------
  MEDIA QUERIES
---------------*/
$mobile-width: 480px; 
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$large-desktop-width: 1440px; 

/*---------------
  GLOBALS
---------------*/
$transition: all .3s ease-in-out;